[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fitbit = ">=0.3.0"
celery = "*"
simplejson = "<4,>=3.13"
mock = "<3,>=2"
freezegun = "<0.4,>=0.3.9"
requests-mock = "<1.5,>=1.4.0"
Django = "<2.1,>=2.0"

[dev-packages]
six = "*"
coverage = "*"
django-debug-toolbar = "*"
tox = "*"
Sphinx = "*"
pip-review = "*"
pipdeptree = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
